table.table.is-striped.is-hoverable {
	width: 100%;
}

.filter-container {
	padding: 1rem;
	border: solid 1px #dbdbdb;
	margin: 1rem 0;
	background-color: #fafafa;
	border-radius: 5px;
}

// Mobile
@media (max-width: 1022px) { }