.tag {
    &.round-tag {
        border-radius: 100%;
        padding: 0.8rem;
    }

    &.square-tag {
        border-left: solid 7px;
        border-radius: 0;
        padding: 0.8rem;
    }
}

.card {
    transition: 0.3s;
}

.card-image {
    background: rgb(184,184,184);
    background: radial-gradient(circle, rgba(184,184,184,1) 0%, rgba(255,255,255,1) 100%);
    border-radius: 0.25rem;
}

.card-hover:hover {
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 50%), 0 0 0 1px rgb(10 10 10 / 2%);
}

.post-body {
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 15%), 0 0 0 1px rgb(10 10 10 / 2%);
    padding: 2rem;
    border-radius: 5px;

    p {
        white-space: pre-line;
    }
}

.main-card {
    border-radius: 0.25rem;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    transition: 0.3s;
    min-height: 60vh;
    display: flex;
    align-items: end;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    .main-card-content {
        padding: 1.5rem;
        width: 100%;
        border-radius: 5px;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 25%, rgba(255,255,255,0) 100%);
    }

    p.title.is-4 {
        margin-bottom: 1.5rem;
        color: white;
    }

    &:hover {
        box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 50%), 0 0 0 1px rgb(10 10 10 / 2%);
    }
}
