.navbar-burger {
	margin-left: auto;
	margin-right: 0;
}

.navbar-start {
	margin-left: 0;
}

.navbar-end {
	margin-right: 0;
}

.navbar-item-text {
	padding-left: 0.5rem;
}

.navbar-dropdown > a.navbar-item {
	white-space: normal;
}
