@import "Login";
@import "Home";
@import "Navbar";
@import "Backup";
@import "Bitacore";

.column.left-divider {
	border-top: solid 1px #ccc;

	@media (min-width: 769px) {
		border-top: none;
		border-left: solid 1px #ccc;
	}
}