@import "Login";
@import "Home";
@import "Navbar";
@import "Backup";
@import "Bitacore";
@import "LikeButton";

.column.left-divider {
	border-top: solid 1px #ccc;

	@media (min-width: 769px) {
		border-top: none;
		border-left: solid 1px #ccc;
	}
}

footer {
	@media (max-width: 769px) {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
}

.wide-select {
	width: 100%;

	select {
		width: 100%;
	}
}

.combined-fields {
	border: solid 1px lightgray;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0;
}

.tag.round-tag {
	border-radius: 100%;
    padding: 0.8rem;
}

@media (max-width: 1022px) {
	.scrollable-table {
		width: 100%;
		overflow: scroll;
	}
}