@import "Login";
@import "Home";
@import "Navbar";
@import "Backup";
@import "Bitacore";

.column.left-divider {
	border-top: solid 1px #ccc;

	@media (min-width: 769px) {
		border-top: none;
		border-left: solid 1px #ccc;
	}
}

footer {
	@media (max-width: 769px) {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
}

@media (max-width: 1022px) {
	.scrollable-table {
		width: 100%;
		overflow: scroll;
	}
}