@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	@Styles.Render("~/Content/css")
</head>

<body>
	<div id="custom-alert-notification" class="alert-notification">
		<article id="custom-alert" class="message is-hidden">
			<div id="custom-alert-message" class="message-body"></div>
		</article>
	</div>

	<div class="login-center">
		<div class="columns is-desktop login-container">
			<div class="column login-column login-column-left">
				<div class="company-container">
					<img src="~/Assets/Images/logo.png">
					<p>El mejor lugar para enterarte de las noticias.</p>
				</div>
			</div>
			<div class="column login-column login-column-right">
				<div class="login-box">
					<form id="resetForm">
						<h2 class="title is-2">Reset password</h2>

						<div class="field">
							<label class="label">Email</label>
							<div class="control has-icons-left has-icons-right">
								<input id="email" class="input" type="email" placeholder="Email" required>
								<span class="icon is-small is-left">
									<i class="far fa-envelope"></i>
								</span>
							</div>
						</div>

						<div class="is-pulled-right">
							<input class="button is-info" type="submit" value="Reset password">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script>
		document.getElementById("resetForm").addEventListener("submit", async (event) => {
			event.preventDefault();
			var email = document.getElementById("email").value;
			const response = await get('Reset?email=' + email);
			showAlert(response);
		});
	</script>

	@Scripts.Render("~/Content/js")
</body>
</html>
