@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	@Styles.Render("~/Content/css")
</head>

<body>
	<div class="login-center">
		<div class="columns is-desktop login-container">
			<div class="column login-column login-column-left">
				<div class="company-container">
					<img src="~/Assets/Images/logo.png">
					<p>El mejor lugar para enterarte de las noticias.</p>
				</div>
			</div>
			<div class="column login-column login-column-right">
				<div class="login-box">
					<h2 class="title is-2">Sign up</h2>

					<form id="signupForm">
						<div class="field">
							<label class="label">Username</label>
							<div class="control has-icons-left has-icons-right">
								<input id="username" class="input" type="text" placeholder="Username" required>
								<span class="icon is-small is-left">
									<i class="fas fa-user"></i>
								</span>
							</div>
						</div>

						<div class="field">
							<label class="label">Name</label>
							<div class="control has-icons-left has-icons-right">
								<input id="name" class="input" type="text" placeholder="Name" required>
								<span class="icon is-small is-left">
									<i class="fas fa-user"></i>
								</span>
							</div>
						</div>

						<div class="field">
							<label class="label">Lastname</label>
							<div class="control has-icons-left has-icons-right">
								<input id="lastname" class="input" type="text" placeholder="Lastname" required>
								<span class="icon is-small is-left">
									<i class="fas fa-user"></i>
								</span>
							</div>
						</div>

						<div class="field">
							<label class="label">Mail</label>
							<div class="control has-icons-left has-icons-right">
								<input id="mail" class="input" type="email" placeholder="Mail" required>
								<span class="icon is-small is-left">
									<i class="far fa-envelope"></i>
								</span>
							</div>
						</div>

						<div class="field">
							<label class="label">Password</label>
							<div class="control has-icons-left has-icons-right">
								<input id="password" class="input" type="password" placeholder="Password" required>
								<span class="icon is-small is-left">
									<i class="fas fa-lock"></i>
								</span>
							</div>
						</div>

						<div class="field">
							<label class="label">Confirm password</label>
							<div class="control has-icons-left has-icons-right">
								<input id="confirmPassword" class="input" type="password" placeholder="Password" required>
								<span class="icon is-small is-left">
									<i class="fas fa-lock"></i>
								</span>
							</div>
						</div>

						<input class="button is-info is-pulled-right" type="submit" value="Signup">
					</form>
				</div>
			</div>
		</div>
	</div>

	<script>
		document.getElementById("signupForm").addEventListener("submit", async (event) => {
			event.preventDefault();
			const password = document.getElementById("password").value;
			const confirmPassword = document.getElementById("confirmPassword").value;

			if (password != confirmPassword) {
				showAlert({
					type: 'danger',
					description: 'Las contraseñas no coinciden.'
				})
				return;
			}

			const data = {
				username: document.getElementById("username").value,
				password: password,
				name: document.getElementById("name").value,
				lastname: document.getElementById("lastname").value,
				mail: document.getElementById("mail").value,
			}

			const response = await post('CreateUser', data);
			if (response.type == 'success') {
				window.location.replace("./");
			}
		});
	</script>

	@Scripts.Render("~/Content/js")
</body>
</html>

