<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IronPdf" version="2021.12.4495" targetFramework="net472" />
  <package id="IronPdf.Native.Chrome.Windows" version="2021.12.4389" targetFramework="net472" />
  <package id="IronPdf.Slim" version="2021.12.4495" targetFramework="net472" />
</packages>